<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="TemplateFolderPath" value="C: \Users\kak\Desktop\Attachments"/>
    <add key="SharepointSiteUrl" value="http://etgs-kak:30609/"/>
    <add key="SharepointFolder" value="Templates"/>
    <add key="LogFile" value="C:\IOFTemplateUploadLog.txt"/>
    
  </appSettings>
</configuration>